.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(308deg, #1c29b9, #e86822, #c0196c, #6419d5);
    background-size: 300% 300%;
    animation: gradient-animation 60s ease infinite;
    color: black;
    font-family: 'Noto Sans Display', sans-serif;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
