.LoginPage {
    margin: auto;
}

h2 {
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
}

fieldset {
    border: none !important;
}

button:hover {
    color: white;
}

/* nastylizovat */
.MuiFormLabel-root {
    color: red !important;
}